/*  layout  */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background-color: #FAEFE4;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

header{
  background-color: #EEE4DB;

}

header .container{
max-width: 1400px;
margin: 0 auto;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

header a{
  color: #333;
  text-decoration: none;
}

/* .pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
} */

.border{
 margin-bottom: 25px;  
}

.image{
 width: 15%; 
}

h4{
  color:#36454F;
  text-decoration: none;
  
  
}
h4:hover {
  color: black;
}

.home{
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.workout-details{
 background: #fff;
 border-radius:4px;
 margin: 20px auto;
 padding: 20px;
 position: relative; 
 box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

} 

/* .workout-details h3{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
} */

/* .workout-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
} */
 
.titles{
  border-radius: 50px;
  text-align: center;
  background-color:  #333;
  color: #EEE4DB;
  justify-content: center;
  align-items: center;
  margin-left: 390px;
  margin-right: 390px;
  padding: 20px 20px;
} 

h2{
  padding: 0;
  font-size: 2.1em;
}


label,input{
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* form button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form{
  height: 390px;
  margin-top: 10px;
  width: 300px;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 20px rgba(5,6,13,0.4);
  padding: 30px 35px;
} */

.workout-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #1aac83;
 padding: 6px;
 color: white; 
 border-radius: 50%;
}

.workout-details span.update{
  position: absolute;
  top: 90px;
  right: 15px;
  cursor: pointer;
  background-color: #1aac83;
}
input.error {
  border: 1px solid var(--error);
}

div.Error {
  padding: 10px;
  background-color: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

h6{
  text-decoration: none;
  color: black;

}

form.signup,form.login{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}

button.logout{
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}



/* TAB CONTROLLER */

.tabs {
  padding: 15px;
  margin-right: 20px;
  text-align: center;
  width: 42.5%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 0.3px solid gray;
  box-sizing: content-box;
  position: relative;
  outline: none;
  margin-top: 40px;

}

.tabs:not(:last-child){
  border-right: .3px solid gray;
}

.active-tabs  {
  background: white;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

.workout-tabs{
  display: flex;
  width: 100%;
  height: 10%;
  margin-top: 10px;
}

.content-tabs {
  flex-grow : 1;
}
.content {
  background: #fffafa;
  padding: 10px;
  width: 95%;
  height: 90%;
  display: none;
}

.active-content {
  display: block;
}